amqp==5.0.6
attrs==20.3.0
Authlib==0.15.3
Automat==20.2.0
awscli==1.19.106
beautifulsoup4==4.9.3
billiard==3.6.4.0
boto3==1.17.106
botocore==1.20.106
celery==5.1.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.3
constantly==15.1.0
cryptography==3.4.6
cssselect==1.1.0
dateparser==1.0.0
dnspython==2.1.0
docutils==0.15.2
fake-useragent==2.1.0
Flask==1.1.2
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
kombu==5.1.0
lxml==4.6.2
MarkupSafe==1.1.1
parsel==1.6.0
prompt-toolkit==3.0.19
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pymongo==3.11.3
pyOpenSSL==20.0.1
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
PyYAML==5.4.1
queuelib==1.5.0
redis==3.5.3
regex==2021.4.4
requests==2.25.1
rsa==4.7.2
s3transfer==0.4.2
Scrapy==2.4.1
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
soupsieve==2.2.1
Twisted==21.2.0
tzlocal==2.1
urllib3==1.26.4
vine==5.0.0
w3lib==1.22.0
wcwidth==0.2.5
Werkzeug==1.0.1
zope.interface==5.2.0
langchain==0.1.0
langchain-google-genai==0.0.3
google-generativeai==0.3.1
