# Application configuration
APP_PORT=3000
APP_ENV=local
SECRET_KEY=aaaaaaaaaa

# AUTH0 configuration (production only)
AUTH0_CLIENT_ID=
AUTH0_DOMAIN=
AUTH0_CLIENT_SECRET=
AUTH0_CALLBACK_URL=
AUTH0_LOGOUT_REDIRECT_URL=
AUTH0_AUDIENCE=


# Google API key configuration (optional)
GOOGLE_API_KEY=