<div>
	<style type="text/css">
		<!--
		.rps_31dd #x_outlook a {
			padding: 0
		}

		.rps_31dd .x_ReadMsgBody {
			width: 100%
		}

		.rps_31dd .x_ExternalClass {
			width: 100%
		}

		.rps_31dd .x_ExternalClass * {
			line-height: 100%
		}

		.rps_31dd>div {
			margin: 0;
			padding: 0
		}

		.rps_31dd table,
		.rps_31dd td {
			border-collapse: collapse
		}

		.rps_31dd img {
			border: 0;
			height: auto;
			line-height: 100%;
			outline: none;
			text-decoration: none
		}

		.rps_31dd p {
			display: block;
			margin: 13px 0
		}
		-->
	</style>
	<style type="text/css">
		<!--
		@media only screen and (max-width:480px) {}
		-->
	</style>
	<style type="text/css">
		<!--
		@media only screen and (min-width:480px) {
			.rps_31dd .x_mj-column-per-100 {
				width: 100% !important
			}

			.rps_31dd .x_mj-column-per-80 {
				width: 80% !important
			}

			.rps_31dd .x_mj-column-per-15 {
				width: 15% !important
			}

			.rps_31dd .x_mj-column-per-85 {
				width: 85% !important
			}

		}
		-->
	</style>
	<div class="rps_31dd">
		<div style="background-color: rgb(61, 63, 65) !important; background-position: 0% 0%; background-repeat: repeat; background-attachment: scroll; background-image: none; background-size: auto; background-origin: padding-box; background-clip: border-box;"
			data-ogsb="rgb(227, 229, 231)">
			<div style="background-color: rgb(61, 63, 65) !important;" data-ogsb="rgb(227, 229, 231)">
				<div style="margin: 0px auto; max-width: 600px; background-color: rgb(51, 51, 51) !important; background-position: 0% 0%; background-repeat: repeat; background-attachment: scroll; background-image: none; background-size: auto; background-origin: padding-box; background-clip: border-box;"
					data-ogsb="white">
					<table role="presentation"
						style="font-size: 0px; width: 100%; background-color: rgb(51, 51, 51) !important; background-position: 0% 0%; background-repeat: repeat; background-attachment: scroll; background-image: none; background-size: auto; background-origin: padding-box; background-clip: border-box;"
						data-ogsb="white" cellspacing="0" cellpadding="0" border="0" align="center">
						<tbody>
							<tr>
								<td
									style="text-align:center; vertical-align:top; direction:ltr; font-size:0px; padding:20px 0px">
									<div class="x_mj-column-per-100 x_outlook-group-fix"
										style="vertical-align:top; display:inline-block; direction:ltr; font-size:13px; text-align:left; width:100%">
										<table role="presentation" style="vertical-align:top" width="100%"
											cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td style="word-break:break-word; font-size:0px; padding:10px 25px"
														align="center">
														<table role="presentation"
															style="border-collapse:collapse; border-spacing:0px"
															cellspacing="0" cellpadding="0" border="0" align="center">
															<tbody>
																<tr>
																	<td style="width:80px"><a
																			href="https://u2172013.ct.sendgrid.net/ls/click?upn=iCHVwA23ugFi7d9Tl6g2U3SVqixKANJ9ETt1MRSX-2FjSUVg9BOhmzejAWcciK2gCKqIlc_ABzwkRIMGUpaHBczgkcSlkbYGFjRHkTIEmv2kp6Dsgy41pkpDiKHo3lIhRMnhjoAZAHfU6RSOa1XSscb7lCV581iXWmrr1pMS5CP31dinBDLyaWVNP7kS4aUF-2FRKDRbNWP3HCa-2FUXjmC6v-2FWvx0qhhhiv0I1XcXfnEPXoy4KbYgP-2BTpBtjCORyB3B-2FOtH50ya1hOeFHPsUHdDok4lDiA6Q-3D-3D"
																			target="_blank" rel="noopener noreferrer"
																			data-auth="NotApplicable" data-linkindex="0"
																			style="color: rgb(228, 159, 255) !important;"
																			data-ogsc=""><img data-imagetype="External"
																				src="https://cdn.auth0.com/blog/auth0rta/theme/logos/auth0-imago-black.png"
																				alt="auth0" title=""
																				style="border:none; border-radius:; display:block; outline:none; text-decoration:none; width:100%; height:auto"
																				width="80" height="auto"></a> </td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="margin:0px auto; max-width:600px; background:#222228">
					<table role="presentation" style="font-size:0px; width:100%; background:#222228" cellspacing="0"
						cellpadding="0" border="0" align="center">
						<tbody>
							<tr>
								<td
									style="text-align:center; vertical-align:top; direction:ltr; font-size:0px; padding:20px 0px">
									<div class="x_mj-column-per-80 x_outlook-group-fix"
										style="vertical-align:top; display:inline-block; direction:ltr; font-size:13px; text-align:left; width:100%">
										<table role="presentation" style="vertical-align:top" width="100%"
											cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td style="word-break:break-word; font-size:0px; padding:10px 25px; padding-top:30px"
														align="center">
														<table role="presentation"
															style="border-collapse:collapse; border-spacing:0px"
															cellspacing="0" cellpadding="0" border="0" align="center">
															<tbody>
																<tr>
																	<td style="width:80px"><img
																			data-imagetype="External"
																			src="https://cdn.auth0.com/website/emails/product/top-keys-new.png"
																			alt="Zero To Launch" title=""
																			style="border:none; border-radius:; display:block; outline:none; text-decoration:none; width:100%; height:auto"
																			width="80" height="auto"></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<tr>
													<td style="word-break:break-word; font-size:0px; padding:0px 20px 0px 20px"
														align="center">
														<div class=""
															style="color: white; font-family: &quot;Space Grotesk&quot;, Space Grotesk, &quot;Avenir Next&quot;, Avenir, Arial, sans-serif, serif, EmojiFont; font-size: 32px; font-weight: 500; text-align: center;">
															You have submitted a password change request!</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="margin: 0px auto; max-width: 600px; background-color: rgb(51, 51, 51) !important; background-position: 0% 0%; background-repeat: repeat; background-attachment: scroll; background-image: none; background-size: auto; background-origin: padding-box; background-clip: border-box;"
					data-ogsb="white">
					<table role="presentation"
						style="font-size: 0px; width: 100%; background-color: rgb(51, 51, 51) !important; background-position: 0% 0%; background-repeat: repeat; background-attachment: scroll; background-image: none; background-size: auto; background-origin: padding-box; background-clip: border-box;"
						data-ogsb="white" cellspacing="0" cellpadding="0" border="0" align="center">
						<tbody>
							<tr>
								<td
									style="text-align:center; vertical-align:top; direction:ltr; font-size:0px; padding:40px 25px 25px">
									<div class="x_mj-column-per-100 x_outlook-group-fix"
										style="vertical-align:top; display:inline-block; direction:ltr; font-size:13px; text-align:left; width:100%">
										<table role="presentation" style="vertical-align:top" width="100%"
											cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td style="word-break:break-word; font-size:0px; padding:0px 0px 25px"
														align="left">
														<div class=""
															style="color: rgb(232, 232, 240) !important; font-family: &quot;Space Grotesk&quot;, Space Grotesk, &quot;Avenir Next&quot;, Avenir, Arial, sans-serif, serif, EmojiFont; font-size: 18px; line-height: 30px; text-align: left;"
															data-ogsc="rgb(34, 34, 40)"><strong
																style="font-weight:500">If it was you, please confirm
																the password change.</strong></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="x_mj-column-per-15 x_outlook-group-fix"
										style="vertical-align:top; display:inline-block; direction:ltr; font-size:13px; text-align:left; width:100%">
										<table role="presentation" style="vertical-align:top" width="100%"
											cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td style="word-break:break-word; font-size:0px; padding:0px 0px 10px"
														align="left">
														<div class=""
															style="color: rgb(232, 232, 240) !important; font-family: &quot;Inter&quot;, Inter, &quot;Avenir Next&quot;, Avenir, Arial, sans-serif, serif, EmojiFont; font-size: 16px; line-height: 30px; text-align: left;"
															data-ogsc="rgb(34, 34, 40)"><strong
																style="font-weight:500; white-space:nowrap">URL</strong>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="x_mj-column-per-85 x_outlook-group-fix"
										style="vertical-align:top; display:inline-block; direction:ltr; font-size:13px; text-align:left; width:100%">
										<table role="presentation" style="vertical-align:top" width="100%"
											cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td style="word-break:break-word; font-size:0px; padding:0px"
														align="left">
														<div class=""
															style="color: rgb(232, 232, 240) !important; font-family: &quot;Inter&quot;, Inter, &quot;Avenir Next&quot;, Avenir, Arial, sans-serif, serif, EmojiFont; font-size: 16px; line-height: 30px; text-align: left;"
															data-ogsc="rgb(34, 34, 40)"><a
																href="https://u2172013.ct.sendgrid.net/ls/click?upn=iCHVwA23ugFi7d9Tl6g2U1zcW-2Fuq0UrYSjXIkQPAJdVxHHTQRfy0e-2BaiZeFGiV68AvrBccqKDD0tw9l6fkWoijbieroq8Ifk4lRXorNGWVhkeRbbh6hu3z7QZ9mVFchb_tYL_ABzwkRIMGUpaHBczgkcSlkbYGFjRHkTIEmv2kp6Dsgy41pkpDiKHo3lIhRMnhjoA6J99uKIby6NLVb6WLG8HLh-2FeQAByffO1lKe1M5CCQ30944bxXZRHo9Y0sKoQhaYKkMce4nRupVE0qz-2BF-2B9i-2FEjSsmit5XLHHcwkKM4eQZ7dk-2BVBo6NyOWGvjhqh5ya10SqpK884TrqmsH5sFe1u8yg-3D-3D"
																target="_blank" rel="noopener noreferrer"
																data-auth="NotApplicable"
																style="color: rgb(171, 151, 255) !important; text-decoration: none;"
																data-linkindex="1"
																data-ogsc="rgb(99, 93, 255)">https://auth0.auth0.com/u/reset-password?ticket=BUyUnQwTKOmPkX4G4CBw8ovm9UAeuUj7#</a>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="margin: 0px auto; max-width: 600px; background-color: rgb(51, 51, 51) !important; background-position: 0% 0%; background-repeat: repeat; background-attachment: scroll; background-image: none; background-size: auto; background-origin: padding-box; background-clip: border-box;"
					data-ogsb="white">
					<table role="presentation"
						style="font-size: 0px; width: 100%; background-color: rgb(51, 51, 51) !important; background-position: 0% 0%; background-repeat: repeat; background-attachment: scroll; background-image: none; background-size: auto; background-origin: padding-box; background-clip: border-box;"
						data-ogsb="white" cellspacing="0" cellpadding="0" border="0" align="center">
						<tbody>
							<tr>
								<td
									style="text-align:center; vertical-align:top; direction:ltr; font-size:0px; padding:0px 30px">
									<p style="font-size:1px; margin:0px auto; border-top:1px solid #E3E5E7; width:100%">
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="margin: 0px auto; max-width: 600px; background-color: rgb(51, 51, 51) !important; background-position: 0% 0%; background-repeat: repeat; background-attachment: scroll; background-image: none; background-size: auto; background-origin: padding-box; background-clip: border-box;"
					data-ogsb="white">
					<table role="presentation"
						style="font-size: 0px; width: 100%; background-color: rgb(51, 51, 51) !important; background-position: 0% 0%; background-repeat: repeat; background-attachment: scroll; background-image: none; background-size: auto; background-origin: padding-box; background-clip: border-box;"
						data-ogsb="white" cellspacing="0" cellpadding="0" border="0" align="center">
						<tbody>
							<tr>
								<td
									style="text-align:center; vertical-align:top; direction:ltr; font-size:0px; padding:20px 0px">
									<div class="x_mj-column-per-100 x_outlook-group-fix"
										style="vertical-align:top; display:inline-block; direction:ltr; font-size:13px; text-align:left; width:100%">
										<table role="presentation" width="100%" cellspacing="0" cellpadding="0"
											border="0">
											<tbody>
												<tr>
													<td style="word-break:break-word; font-size:0px; padding:10px 25px"
														align="center">
														<table role="presentation" style="border-collapse:separate"
															cellspacing="0" cellpadding="0" border="0" align="center">
															<tbody>
																<tr>
																	<td style="border:none; border-radius:8px; color:white; height:35px; padding:8px 24px"
																		valign="middle" bgcolor="#635DFF"
																		align="center"><a
																			href="https://u2172013.ct.sendgrid.net/ls/click?upn=iCHVwA23ugFi7d9Tl6g2U1zcW-2Fuq0UrYSjXIkQPAJdVxHHTQRfy0e-2BaiZeFGiV68AvrBccqKDD0tw9l6fkWoijbieroq8Ifk4lRXorNGWVhkeRbbh6hu3z7QZ9mVFchbbHSX_ABzwkRIMGUpaHBczgkcSlkbYGFjRHkTIEmv2kp6Dsgy41pkpDiKHo3lIhRMnhjoALbUp4GCfOqVD7UeIPOxFjmfDA0WIDDvRww6culS-2F3JkBdok25e8urFW908dFC-2BMYRRONtIzJICzGzw-2FLxp9itHqMy-2BfdGd-2F7-2BzB2lhezVUgQm4Wjt5qJ40oMjBzHTcCzpANYmtKCvzsQD8Hhp7Y3xQ-3D-3D"
																			target="_blank" rel="noopener noreferrer"
																			data-auth="NotApplicable"
																			style="text-decoration:none; line-height:100%; background:#635DFF; color:white; font-family:'Inter',Inter,'Avenir Next',Avenir,Arial,sans-serif; font-size:14px; font-weight:500; text-transform:none; margin:0px"
																			data-linkindex="2">Confirm password change
																			→</a></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="margin: 0px auto; max-width: 600px; background-color: rgb(51, 51, 51) !important; background-position: 0% 0%; background-repeat: repeat; background-attachment: scroll; background-image: none; background-size: auto; background-origin: padding-box; background-clip: border-box;"
					data-ogsb="white">
					<table role="presentation"
						style="font-size: 0px; width: 100%; background-color: rgb(51, 51, 51) !important; background-position: 0% 0%; background-repeat: repeat; background-attachment: scroll; background-image: none; background-size: auto; background-origin: padding-box; background-clip: border-box;"
						data-ogsb="white" cellspacing="0" cellpadding="0" border="0" align="center">
						<tbody>
							<tr>
								<td
									style="text-align:center; vertical-align:top; direction:ltr; font-size:0px; padding:0px 25px 25px">
									<div class="x_mj-column-per-100 x_outlook-group-fix"
										style="vertical-align:top; display:inline-block; direction:ltr; font-size:13px; text-align:left; width:100%">
										<table role="presentation" style="vertical-align:top" width="100%"
											cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td style="word-break:break-word; font-size:0px; padding:10px 25px"
														align="left">
														<div class=""
															style="color: rgb(232, 232, 240) !important; font-family: &quot;Inter&quot;, Inter, &quot;Avenir Next&quot;, Avenir, Arial, sans-serif, serif, EmojiFont; font-size: 13px; line-height: 24px; text-align: left;"
															data-ogsc="rgb(34, 34, 40)">If you are having any issues
															with your account, please don't hesitate to contact us by
															replying to this mail. Thank you!</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>